.content{
    display: grid;
    gap: 1rem;
    width: 100%;
    height: auto;
    background-color: #f8f8f8;

    div{
        padding: 1rem;
        background-color: #8078f3;
        border-radius: 2rem;
    }

    .page1{
        width: 100%;
        height:50rem;
        // background-color: blue;
        border-radius: 2rem;
        background-image: url(../../img/img01.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    .page2{
        width: 100%;
        height: 34rem;
        background-color: green;
        border-radius: 2rem;

    }
    .page3{
        width: 100%;
        height: 34rem;
        background-color: brown;
        border-radius: 2rem;

    }
    .page4{
        width: 100%;
        height: 34rem;
        background-color: pink;
        border-radius: 2rem;

    }
    .page5{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        width: 100%;
        height: 34rem;
        background-color: salmon;
        border-radius: 2rem;

        .item2{
            grid-column-start: 2;
            grid-column-end:4;

        }
    }
}

// Estilos específicos para dispositivos pequeños (móviles)
@media (max-width: 575.98px) {
    .navbar-iconosUser {
        padding: 2px 4px;
        font-size: 8px;
    }
}

// Estilos específicos para dispositivos medianos (tabletas)
@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-iconosUser {
        padding: 3px 6px;
        font-size: 9px;
    }
}

// Estilos específicos para dispositivos grandes (escritorios pequeños)
@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-iconosUser {
        padding: 4px 8px;
        font-size: 10px;
    }
}

// Estilos específicos para dispositivos extra grandes (escritorios grandes)
@media (min-width: 992px) {
    .navbar-iconosUser {
        padding: 5px 10px;
        font-size: 12px;
    }
}